<div class="component-container">
    <app-pet-created [pet_id]="pet_id" (pet_created_emitter)="onClose($event)" *ngIf="pet_created"></app-pet-created>
    <app-no-session *ngIf="!session"></app-no-session>
    <app-pets-menu></app-pets-menu>
    <h1 class="component-title">Add a Pet</h1>

    <div class="form-container">
        <form [formGroup]="new_pet" (ngSubmit)="onSubmit()">
            <!--* Name -->
            <span class="name-area">
                <label for="name">Name</label>
                <input type="text" id="name" formControlName="name">
                <div class="warnings">
                    <p
                    *ngIf="new_pet.get('name')?.hasError('required') && new_pet.get('name')?.touched">
                        The name is required
                    </p>
                </div>
            </span>

            <!--* Age -->
            <span class="age-area">
                <label for="age">Age</label>
                <input type="number" id="age" formControlName="age">
                <div class="warnings">
                    <p
                    *ngIf="new_pet.get('age')?.hasError('required') && new_pet.get('age')?.touched">
                        The age is required
                    </p>
                    <p
                    *ngIf="new_pet.get('age')?.hasError('pattern') && new_pet.get('age')?.touched">
                        The age only contain numbers
                    </p>
                </div>
            </span>

            <!--* Description -->
            <span class="description-area">
                <label for="description">Description</label>
                <textarea id="description" cols="30" rows="10" formControlName="description"></textarea>
                <div class="warnings">
                    <p
                    *ngIf="new_pet.get('description')?.hasError('required') && new_pet.get('description')?.touched">
                        This field is required
                    </p>
                </div>
            </span>

            <!--* Contact  -->
            <span class="contact-area">
                <label class="contact-label-area">Contacts</label>
                <span class="contact-email-area">
                    <input type="email" placeholder="email" #contact_email (input)="emailWarnings(contact_email.value)">
                    <div class="warnings" *ngIf="contact_errors.email">
                        <p>Write a valid email</p>
                    </div>
                </span>
                <span class="contact-cellphone-area">
                    <input
                    type="tel" placeholder="cellphone" #contact_cellphone
                    (input)="cellphoneWarnings(contact_cellphone.value)">
                    <div class="warnings" *ngIf="contact_errors.cellphone">
                        <p>Write a valid cellphone number</p>
                    </div>
                </span>
                <button
                class="btn-add-contact" type="button"
                (click)="addContact(contact_email, contact_cellphone)"
                [disabled]="contact_errors.cellphone && contact_errors.email">
                    Add Contact
                </button>
                <div class="contacts">
                    <div
                    class="contact"
                    *ngFor="let contact of contacts; index as i"
                    (dblclick)="removeContact(i)"
                    title="Use the double click to remove a contact">
                        <p class="contact-way">{{contact?.cellphone}}</p>
                        <p class="contact-way">{{contact?.email}}</p>
                        <hr>
                    </div>
                </div>
            </span>

            <!--* Pet_type -->
            <span class="pet-type-area">
                <label for="pet-type">Pet Type</label>
                <input type="text" id="pet-type" formControlName="pet_type" placeholder="Dog, Cat...etc">
                <div class="warnings">
                    <p
                    *ngIf="new_pet.get('pet_type')?.hasError('required') && new_pet.get('pet_type')?.touched">
                        The pet_type is required
                    </p>
                    <p
                    *ngIf="new_pet.get('pet_type')?.hasError('pattern') && new_pet.get('pet_type')?.touched">
                        Please just write letters
                    </p>
                </div>
            </span>

            <!--* Breed -->
            <span class="breed-area">
                <label for="breed">breed</label>
                <input type="text" id="breed" formControlName="breed">
                <div class="warnings">
                    <p
                    *ngIf="new_pet.get('breed')?.hasError('required') && new_pet.get('breed')?.touched">
                        The breed is required
                    </p>
                    <p
                    *ngIf="new_pet.get('breed')?.hasError('pattern') && new_pet.get('breed')?.touched">
                        Please just write letters
                    </p>
                </div>
            </span>

            <!--* Reward -->
            <span class="reward-area">
                <label for="reward">Reward</label>
                <input type="number" id="reward" formControlName="reward">
                <div class="warnings">
                    <p
                    *ngIf="new_pet.get('reward')?.hasError('required') && new_pet.get('reward')?.touched">
                        This field is required
                    </p>
                    <p
                    *ngIf="new_pet.get('reward')?.hasError('pattern') && new_pet.get('reward')?.touched">
                        Just write numbers
                    </p>
                </div>
            </span>

            <!--* Image -->
            <span class="image-area">
                <label for="image">Image</label>
                <input type="file" id="image" (change)="onChange($event)">
                <div class="warnings">
                    <ul *ngIf="!valid_ext">
                        <p>The extension must be:</p>
                        <li>jpg</li>
                        <li>jpeg</li>
                        <li>png</li>
                        <li>webp</li>
                    </ul>
                </div>
            </span>

            <input type="submit" class="send-area" value="Send" [disabled]="new_pet.invalid || !valid_ext" >
        </form>
    </div>
</div>