<div class="component-container">
    <h1 class="component-title">Add a Pet</h1>

    <div class="form-container">
        <form>
            <span class="name-area">
                <label for="name">Name</label>
                <input type="text" id="name">
            </span>

            <span class="age-area">
                <label for="age">Age</label>
                <input type="number" id="age">
            </span>

            <span class="description-area">
                <label for="description">Description</label>
                <textarea id="description" cols="30" rows="10"></textarea>
            </span>

            <span class="contact-area">
                <label class="contact-label-area">Contacts</label>
                <input type="email" placeholder="email" class="contact-email-area">
                <input type="tel" placeholder="cellphone" class="contact-cellphone-area">
                <button class="btn-add-contact" type="button">Add Contact</button>
                <div class="contacts">
                    <div class="contact">
                        <p class="contact-way"></p>
                        <p class="contact-way"></p>
                    </div>
                </div>
            </span>

            <span class="pet-type-area">
                <label for="pet-type">Pet Type</label>
                <input type="text" id="pet-type">
            </span>

            <span class="breed-area">
                <label for="breed">breed</label>
                <input type="text" id="breed">
            </span>

            <span class="reward-area">
                <label for="reward">Reward</label>
                <input type="number" id="reward">
            </span>

            <span class="image-area">
                <label for="image">Image</label>
                <input type="file" id="image">
            </span>

            <input type="submit" class="send-area" value="Send">
        </form>
    </div>
</div>