<div class="component-container">
    <h1 class="component-title">Pets</h1>
    <div class="pets-container">
        <div class="pet">
            <figure>
                <img src="" class="pet-img">
            </figure>
            <ul class="owner-contact">
                <li class="contact-info name">Name: <span>My pet</span></li>
                <li class="contact-info age">Age <span>6 years old</span></li>
                <li class="contact-info owner">Owner: <span>Maria</span></li>
            </ul>
            <p class="pet-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro enim officiis qui reiciendis, iure consequatur aliquid quo ipsam, delectus laboriosam eaque tempore. Recusandae explicabo obcaecati, labore a eum saepe natus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex tempore dolore ipsum recusandae mollitia? Pariatur doloribus corporis, temporibus laudantium culpa explicabo fugit modi distinctio. Asperiores, nemo id. Aliquid, tempora. Eius!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas assumenda repellendus maxime ut sint voluptatem accusantium, iusto non officiis mollitia necessitatibus, atque eius eveniet dolorem delectus, fugiat maiores facere ex.
            </p>
        </div>
    </div>
</div>