<div class="component-container">
    <app-pets-menu></app-pets-menu>
    <app-no-session *ngIf="!session"></app-no-session>
    <h1 class="component-title">Pets</h1>
        <div class="pets-container">
            <div class="pet" *ngFor="let pet of pets">
                <a [routerLink]="['/pets/pet/' + pet._id]">
                    <figure>
                        <img src="{{url + '/avatar/' + pet.image}}" class="pet-img">
                    </figure>
                    <ul class="owner-contact">
                        <li class="contact-info name">Name: <span> {{pet.name}} </span></li>
                        <li class="contact-info age">Age: <span> {{pet.age}} </span></li>
                        <li class="contact-info owner">Owner: <span> {{pet.owner?.first_name + ' ' + pet.owner?.last_name}} </span></li>
                    </ul>
                    <p class="pet-description">
                        {{pet.description}}
                    </p>
                </a>
            </div>
        </div>
</div>