<nav class="menu-container">
    <ul class="menu">
        <li>
            <a
            [routerLink]="['/pets/all-pets']"
            [routerLinkActive]="['active']"
            class="menu-item">
                Pets
            </a>
        </li>
        <li>
            <a
            [routerLink]="['/pets/new-pet']"
            [routerLinkActive]="['active']"
            class="menu-item">
                New Pet
            </a>
        </li>
        <li *ngIf="!session">
            <a
            [routerLink]="['/users/log-in']"
            class="menu-item">
                Log In
            </a>
        </li>
        <li *ngIf="session">
            <a
            [routerLink]="['/pets/my-pets']"
            class="menu-item">
                My Pets
            </a>
        </li>
        <li *ngIf="session" (click)="log_out()">
            <button class="menu-item log-out">
                Log Out
            </button>
        </li>
    </ul>
</nav>
