<div class="component-container">
    <app-pets-menu></app-pets-menu>
    <h1 class="component-title">Pet Name</h1>
    <div class="pet-container">
        <figure>
            <img src="" class="pet-img" alt="pet-name">
        </figure>
        <ul class="pet-info-container">
            <li class="pet-info">reward <span>{{ 500 | currency }}</span></li>
            <li class="pet-info">Age: <span>10</span></li>
            <li class="pet-info">Breed: <span>No Breed</span></li>
            <li class="pet-info">Owner: <span>Maria</span></li>
            <li class="pet-info">
                Contacts:
                <ul class="pet-info-contacts">
                    <li>Email: <span>maria@maria.com</span></li>
                    <li>Cellphone: <span>7778953698</span></li>
                </ul>
            </li>
        </ul>
        <p class="pet-description">
            lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quis in repudiandae animi amet nemo voluptate corrupti velit obcaecati, enim similique unde quia, exercitationem beatae! Adipisci sit magnam quo illum?
            lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quis in repudiandae animi amet nemo voluptate corrupti velit obcaecati, enim similique unde quia, exercitationem beatae! Adipisci sit magnam quo illum?
            lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quis in repudiandae animi amet nemo voluptate corrupti velit obcaecati, enim similique unde quia, exercitationem beatae! Adipisci sit magnam quo illum?
        </p>
    </div>
</div>
