<div class="component-container">
    <h1 class="component-title">Log In</h1>

    <div class="form-container">
        <form>
            <label for="email">Email</label>
            <input type="email" id="email">
            <label for="passwd">Password</label>
            <input type="password" id="passwd">
            <input type="submit" class="send" value="Log In">
            <p>Without an account yet? <a class="sign-up-link" [routerLink]="['/users/sign-up']">sign up here</a></p>
        </form>
    </div>
</div>